/* Estilos de la tabla */
table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #FFAE42;
    color: white;
}
.table-container {
    margin-left: 20px;
}
/* Estilos de la cabecera */
header {
    background-color: #905010;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

.logo {
    height:100px;
    width:100px;
}

.menu {
    background-color: #333;
    color: white;
    padding: 0.5rem 0;
    text-align: center;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu a {
    display: inline-block;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
}

.menu a:hover,
.menu a:active {
    background-color: #555; /* Color al pasar el ratón o cuando se hace clic */
}
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 20px;
  }
  
  /* título*/
  h1 {
    color: #333;
    text-align: center;
    margin: 20px 0;
  }
  
  /* Estilo para lista ordenada */
  ol {
    margin-bottom: 25px;
  }
  
  /* Estilo para los elementos de la lista */
  li {
    margin-bottom: 10px;
  }
  
  /* Estilo para el pie de página */
  footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
  }