header {
    background-color: #905010;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

.logo {
    height:100px;
    width:100px;
}

.menu {
    background-color: #333;
    color: white;
    padding: 0.5rem 0;
    text-align: center;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu a {
    display: inline-block;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
}

.menu a:hover,
.menu a:active {
    background-color: #555; /* Color al pasar el ratón o cuando se hace clic */
}
h1{
	text-align: center;
}
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #ffffff;
    margin: 20px;
	background: linear-gradient(to bottom, #ADD8E6, #008000);
  }
.contenedor {
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}
.contenedor2 {
	display: grid;
	margin: 0 auto;
	justify-content: start;
	gap: 20px;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}
.animacion {
            font-size: 4em;
            color: #e44d5c;
            animation: animacion 10s infinite alternate;
        }

        @keyframes animacion {
            0%, 100% {
                transform: translateX(-100%);
            }
            50% {
                transform: translateX(100vw);
            }
        }
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
  }